<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta commodi vel odio, cupiditate quam, 
            culpa dolorum praesentium magni harum architecto aliquid, voluptatem veniam vero tempora ducimus accusamus
             ipsam laboriosam unde.
        </p>
    </div>
</div>